
<h1>Edit <b>"{{data.title}}"</b> Vacancy</h1>

<form action="/admin/vacancy/edit" method="POST">
    <div class="input-field">
        <input placeholder="Vacancy Title" name="title" value="{{data.title}}" type="text" required class="validate">
        <label for="vacancy_title">Vacancy Title</label>
        <span class="helper-text" data-error="Fill Title"></span>
    </div>
    <div class="input-field">
        <input placeholder="Salary Range" name="salary" value="{{data.salary}}" type="text" required class="validate">
        <label for="vacancy_title">Salary Range</label>
        <span class="helper-text" data-error="Fill Salary Range"></span>
    </div>
    <div class="input-field">
        <textarea placeholder="Vacancy Text" name="text" type="text" required class="validate materialize-textarea">{{data.text}}</textarea>
        <label for="vacancy_text">Vacancy Text</label>
        <span class="helper-text" data-error="Fill Text"></span>
    </div>
    <input type="hidden" name="id" value="{{data.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Update Vacancy</button>
</form>