<div class="spacer"></div>
<div class="row">
    <div class="col offset-s9 s2">
        <a href="/admin/vacancy/{{data.id}}/delete?allow=true" class="btn right">Delete</a>
    </div>
    <div class="col s1">
        <a href="/admin/vacancy/{{data.id}}/edit?allow=true" class="btn green right">Edit</a>
    </div>
</div>
<div class="row">
    <div class="col s8">
        <h1>{{data.title}}</h1>
    </div>
    <div class="col s4 align-right">
        <p class="right-align">
            <b>Posted: </b>
            {{dateFromJSONDate data.createDate}}
        </p>
    </div>
</div>
{{#if data.locations.length}}
    <div class="row">
        <div class="col s12">
            <b>Locations: </b>
            {{#each data.locations}}
                <span class="location">{{this}}</span>
            {{/each}}
        </div>
    </div>
{{/if}}
<div class="row">
    <div class="col s12">
        <b>Salary: </b>
        <span>{{money data.salary}}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s12">
        <p>{{data.text}}</p>
    </div>
</div>
